// Colors ///////////////
// common colors
$white: #fff;
$red: #ed1c24;
$yellow: #f7b400;
// b&w colors as placeholders
$blk: #000;
$dark-gray: lighten($blk, 20%);
$med-gray: lighten($blk, 40%);
$light-gray: lighten($blk, 70%);
$lighter-gray: lighten($blk, 90%);
$off-white: lighten($blk, 97%);
// bulthaup
$bulthaup-gray-light: #cbcbcb;
$bulthaup-gray: #7f7f7f;
$bulthaup-gray-extra-dark: #1c1c1c;
$bulthaup-gray-dark: #2c2c2c;
// leicht
$leicht-gold:#cdbfa5;
$leicht-gold-dark:#d0b480;

$color1: #262626;
$color2: #e7e1d5;
$color3: #d5cfc3;
$color4: #cdbfa5;


// Utility color variables ///////////////
$heading: $dark-gray;
$link: $med-gray;

// Fonts ///////////////
$opensans: 'Open Sans';
$poppins: 'Poppins';
$heading_font: $opensans;
$body_font: $poppins;

// Slick Слайдер 
$slick-font-family: "namlipw" !default;
$slick-arrow-color: $yellow;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\e801" !default;
$slick-next-character: "\e800" !default;
$slick-dot-character: "\e807" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

// Breakpoints & MQ's ///////////////
$screen: "only screen" !default;
$small-max: 767px !default;
$medium-max: 1023px !default;
$small: $screen max-width $small-max;
$up-sm: $screen $small-max + 1;
$medium: $screen $small-max + 1 $medium-max;
$large: $screen $medium-max + 1;

// EXAMPLE FOR MQ REFERENCES =>

/*
body {
  background: green !important;
  @include breakpoint($small)  { background: orange !important; }
  @include breakpoint($medium) { background: teal !important; }
  @include breakpoint($large)  { background: orchid !important; }
  @include breakpoint($up-sm)  { background: aliceblue !important; }
}
*/

// Example Mixins ///////////////
@mixin opac-color($r, $g, $b, $pertc) {
  background: rgb($r, $g, $b);
  background: rgba($r, $g, $b, $pertc);
}

@mixin region-spacer($color, $direction: bottom) {
  border-top: 1px dotted $color;

  @if $direction == top {
    padding-top: 25px;
    margin-top: 25px;
  }

  @else {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}

@mixin borderradius($px: 5px) {
  border-radius: $px;
  // background-clip: padding-box;
}
// Example Placeholders ///////////////
.no-ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline-block;
    list-style-type: none;
    margin: 2px;
  }
}

.tmp-shadow {
  box-shadow: 0 0 2px 0 rgba($med-gray, 1);
}

.tmp-shadow-none {
  box-shadow: none;
}

.blocked-style {
  border: 1px solid $white;
  padding: 12px;
  border-radius: 5px;
  background: $off-white;

  @extend .tmp-shadow;
}
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}


// I had to make few modifications (!MARKED! below) to make the SASS function work properly, so I included this npm package here
// https://github.com/waldemarfm/sass-svg-uri

/// A small function allowing skipping base64 encoding
/// and simply pasting the SVG markup right in the CSS.
/// @author Jakob Eriksen
/// @link http://codepen.io/jakob-e/pen/doMoML
/// @param {String} $svg - SVG image to encode
/// @return {String} - Encoded SVG data uri
@function svg-uri($svg) {
    $encoded: '';
    $slice: 2000;
    $index: 0;
    $loops: ceil(str-length($svg) / $slice);

    // !ADDED! auto xmlns as per the original codepen https://codepen.io/jakob-e/pen/doMoML
    @if not str-index($svg,xmlns) {
        $svg: str-replace($svg, '<svg', '<svg xmlns="http://www.w3.org/2000/svg"');   
    }
  
    @for $i from 1 through $loops {
        $chunk: str-slice($svg, $index, $index + $slice - 1);
        $chunk: str-replace($chunk, '"', "%22"); // !MODIFIED!
        $chunk: str-replace($chunk, "'", "%27"); // !ADDED!
        $chunk: str-replace($chunk, "/", "%2F"); // !ADDED!
        $chunk: str-replace($chunk, '<', '%3C');
        $chunk: str-replace($chunk, '>', '%3E');
        $chunk: str-replace($chunk, '&', '%26');
        $chunk: str-replace($chunk, '#', '%23');
        $encoded: #{$encoded}#{$chunk};
        $index: $index + $slice;
    }

    @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @link http://sassmeister.com/gist/1b4f2da5527830088e4d
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}



///////////////////////////////
//   The actual mixin:       //
//   CORNER BORDER BUILDER   //
///////////////////////////////

@mixin buildCorners ($cornerColor: #000, $cornerSize: 20, $cornerThickness: 5, $contentFontSize: 16) {
  // Params:
  //   - $cornerColor - because the SVG is not inline SVG but background image it cannot inherit the currentColor,
  //                    therefore the color has to be specified explicitly
  //   - $cornerSize - just a number in pixels without unit or wit any unit you want 
  //                 - when just a number is provided relative mode i used (will be vconverted into em)
  //                 - when number with unit is absolute mode is turned on (the unit will remain)
  //   - $cornerThickness - just a number in px without unit
  //                      - when just a number is provided relative mode i used (will be vconverted into em)
  //                      - when number with unit is absolute mode is turned on (the unit will remain)
  //   - [$contentFontSize] - used only in relative mode to recalculate previous dimensions into ems for background size
  //                        - just a number in pixels without unit

  $svgCornerSize: strip-unit($cornerSize);
  $svgCornerThickness: strip-unit($cornerThickness);
  $svgViewBox: $svgCornerSize * 2;
  $svgRectStart: $svgCornerThickness / 2;
  $svgRectSize: $svgCornerSize * 2 - $svgCornerThickness;

  // absolute mode
  $borderWidth: $svgCornerThickness * 1px;
  $borderImageWidth: $svgCornerSize * 1px;
  
  // relative mode
  @if unit($cornerSize) == '' or unit($cornerThickness) == '' {
    $borderWidth: $svgCornerThickness/$contentFontSize * 1em;
    $borderImageWidth: $svgCornerSize/$contentFontSize * 1em;
  }

  border-style: solid;
  border-width: $borderWidth;
  border-image-source: svg-uri('<svg viewBox="0 0 #{$svgViewBox} #{$svgViewBox}"><rect x="#{$svgRectStart}" y="#{$svgRectStart}" width="#{$svgRectSize}" height="#{$svgRectSize}" fill="transparent" stroke="#{$cornerColor}" stroke-width="#{$svgCornerThickness}" /></svg>');
  border-image-slice: 50%;
  border-image-width: $borderImageWidth;
}