
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-facebook-squared:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-circle-thin:before { content: '\e807'; } /* '' */
.icon-adress:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-star-empty:before { content: '\e80b'; } /* '' */
.icon-thumbs-up:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-site:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-users-outline:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-basket:before { content: '\e812'; } /* '' */
.icon-home-outline:before { content: '\e813'; } /* '' */
.icon-eye:before { content: '\e814'; } /* '' */
.icon-pencil-1:before { content: '\e815'; } /* '' */
.icon-link:before { content: '\e816'; } /* '' */
.icon-up-thin:before { content: '\e817'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-individual:before { content: '\f11d'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-modern:before { content: '\f20e'; } /* '' */
.icon-responsability:before { content: '\f2a3'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */