@font-face {
  font-family: 'namlipw';
  src: url('../font/namlipw.eot?47082190');
  src: url('../font/namlipw.eot?47082190#iefix') format('embedded-opentype'),
       url('../font/namlipw.woff2?47082190') format('woff2'),
       url('../font/namlipw.woff?47082190') format('woff'),
       url('../font/namlipw.ttf?47082190') format('truetype'),
       url('../font/namlipw.svg?47082190#namlipw') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'namlipw';
    src: url('../font/namlipw.svg?47082190#namlipw') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "namlipw";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-right-open-big:before { content: '\e802'; } /* '' */
.icon-left-open-big:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-facebook-squared:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-circle-thin:before { content: '\e807'; } /* '' */
.icon-adress:before { content: '\e808'; } /* '' */
.icon-menu:before { content: '\e809'; } /* '' */
.icon-mail:before { content: '\e80a'; } /* '' */
.icon-star-empty:before { content: '\e80b'; } /* '' */
.icon-thumbs-up:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-site:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-users-outline:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-basket:before { content: '\e812'; } /* '' */
.icon-home-outline:before { content: '\e813'; } /* '' */
.icon-eye:before { content: '\e814'; } /* '' */
.icon-pencil-1:before { content: '\e815'; } /* '' */
.icon-link:before { content: '\e816'; } /* '' */
.icon-up-thin:before { content: '\e817'; } /* '' */
.icon-chat:before { content: '\f03d'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-individual:before { content: '\f11d'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-modern:before { content: '\f20e'; } /* '' */
.icon-responsability:before { content: '\f2a3'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */